.page-home {
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .book-trend-categories {
        margin-top: 30px;
    }

    .store-new-products {
        margin-top: 10px;
    }
    .book-carousel .carousel-indicators li {
        background-color: gold;
        border-radius: 100%;
        width: 10px;
        height: 10px;
    }
    .book-carousel .carousel-indicators li.active {
        background-color: green;
    }
    .book-carousel .carousel-item img {
        max-width: 100%;
        height: 267px;
        background-size: cover;
    }
}
